# env.template
# copy this to 'envname.env'
UNITY_DBHOST=mysql-service.unity.svc:3306
UNITY_DBNAME=ucdb
UNITY_DBUSER=ucadmin
UNITY_DBPASS=ucadminpw

# S3 settings typically already set 
UNITY_S3_BUCKET=$(echo "$S3_ENDPOINT" | sed 's/http/s3/')/unity/ucdb
#S3_ACCESS_KEY=
#S3_SECRET_KEY=
